:root {
    --color-dark:red;
    --color-light:lightgray;
}

body {
    background-color: var(--color-light);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    font-size: 17px;
}


section h3 {
    background-color: #D0D0D0;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 #707070;
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);            
    width: 100%;
    text-align: left;
    max-width: 560px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    position: absolute;
    bottom: 6.5%;
    left: 63%;
    padding: 10px 15px;
    border-radius: 18px;
    background-color: #C8C8C8;
    color: black;
    border: none;
    cursor: pointer;
}